// base globals

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background-color: var(--selection-background);
}

body {
  background-color: var(--background-colour);
  transition: background-color 0.4s ease-out;
  color: var(--text-colour);
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    Ubuntu, sans-serif, Roboto, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  margin: 0;
  display: flex;
  min-height: 100%;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5em 0.75em;
  --icon-size: 32px;
}

section {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  &.intro {
    flex-direction: row;
    justify-content: space-between;
  }
}

main {
  padding: var(--padding);
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  display: flex;
}

.big {
  font-size: 200%;
}
